QToolBar{
	background-color: #5F9EA09f;
}

QToolButton#openPortToolButton:!checked{
	border-image: url(:/icons/icons/play_128px.ico);
}

QToolButton#openPortToolButton:checked{
	border-image: url(:/icons/icons/stop_128px.ico);
}

QToolButton#clearReceiveToolButton{
	border-image: url(:/icons/icons/edit_clear_receive.png);
}

QToolButton#clearSendToolButton{
	border-image: url(:/icons/icons/edit_clear_send.png);
}

QToolButton#clearHistoryToolButton{
	border-image: url(:/icons/icons/edit_clear_history.png);
}

QToolButton#infoToolButton{
	border-image: url(:/icons/icons/information.ico);
}

QToolButton#saveToolButton{
	border-image: url(:/icons/icons/save.ico);
	margin: 5px;
}

QToolButton#saveToolButton:checked{
	background-color: red;
}

QToolButton#skinToolButton{
	border-image: url(:/icons/icons/skin.png);
}


.QToolButton:hover {
	border-style:solid;
	border-width: 2px;
}
