QToolBar{
	background-color: #5F9EA09f;
}

QToolButton#openPortToolButton:!checked{
	border-image: url(play_128px.ico);
}

QToolButton#openPortToolButton:checked{
	border-image: url(stop_128px.ico);
}

QToolButton#clearReceiveToolButton{
	border-image: url(edit_clear_receive.png);
}

QToolButton#clearSendToolButton{
	border-image: url(edit_clear_send.png);
}

QToolButton#clearHistoryToolButton{
	border-image: url(edit_clear_history.png);
}

QToolButton#infoToolButton{
	border-image: url(information.ico);
}

.QToolButton:hover {
	border-style:solid;
	border-width: 2px;
}